:root {
  --player-width: 100vw;
  --progress-width: var(--player-width);
  --progress-height: calc(var(--progress-width) * 0.004);
  --thumb-height: calc(var(--progress-height) * 4);
  --thumb-width: var(--thumb-height);

  --button-width: calc(var(--player-width) / 18);

  --volume-controls-width: 0;
  --volume-slider-width: calc(var(--player-width) * 0.075);
}

@media screen and (min-width: 576px) {
  :root {
    --player-width: 75vw;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: radial-gradient(#222, #000);
  background-attachment: fixed;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
}

.video-player {
  height: auto;
  width: var(--player-width);
  margin: auto;
  position: relative;
  overflow: hidden;
}

.player-screen {
  display: block; /* https://stackoverflow.com/questions/26979003/space-after-html5s-video-tag */
  width: 100%;
}

.player-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  padding: 0 calc(var(--player-width) * 0.025);
}

.progress {
  height: var(--progress-height);
  width: 100%;
  cursor: pointer;
  position: relative;
}

.progress-track {
  background-color: #555;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.2s;
}

.progress-fill {
  background-color: #f00;
  width: 0%;
  height: 100%;
  position: absolute;
  transition: transform 0.2s;
}

.progress-highlight {
  background-color: #777;
  width: 0%;
  height: 100%;
  position: absolute;
  transition: transform 0.2s;
}

.progress-thumb {
  height: var(--thumb-height);
  width: var(--thumb-width);
  background-color: #f00;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - var(--thumb-height) * 0.5);
  left: 0%;
  transform: scale(0);
  transition: transform 0.2s;
}

.buttons {
  display: flex;
  position: relative;
}

.buttons-left,
.buttons-right {
  display: flex;
}

.buttons-left {
  margin-right: auto;
}

.buttons-right {
  margin-left: auto;
}

.player-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ddd;
  transition: color 0.2s;
  padding: 0.75em;
  font-size: calc(var(--player-width) * 0.02);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--button-width);
}

.player-btn:hover {
  color: #fff;
}

.icon {
  pointer-events: none; /* No events from whatever element this class is put on*/
}

.hidden {
  display: none;
}

.player-volume {
  width: 5em;
  padding: 1em 0;
  cursor: pointer;
  display: none;
}

.player-time {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  padding: 0.75em;
  margin: 0;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: calc(var(--player-width) * 0.015);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(hsl(0, 0%, 0%, 0), hsl(0, 0%, 0%, 0.5));
  pointer-events: none;
}

.tooltip {
  color: #ddd;
  border-radius: 2.5px;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: calc(var(--player-width) * 0.015);
  opacity: 0;
  transition: opacity 0.2s;
}

.button-tooltip {
  position: absolute;
  top: calc(var(--progress-height) * -12);
  left: 0;
  background-color: #222;
  padding: 0.5em;
}

.progress-tooltip {
  position: absolute;
  top: calc(var(--progress-height) * -10);
  left: 0;
  background-color: transparent;
}

.helper {
  width: calc(var(--player-width) * 0.12);
  height: calc(var(--player-width) * 0.12);
  background-color: hsl(0, 0%, 0%, 0.75);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%, 1);
  font-size: calc(var(--player-width) * 0.05);
  position: absolute;
}

.helper > p {
  font-size: calc(var(--player-width) * 0.0175);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.playback-helper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  visibility: hidden;
}

@keyframes fadeInOutAndScale {
  0% {
    visibility: visible;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    color: hsl(0, 0%, 100%, 1);
  }

  25% {
    opacity: 1;
    color: hsl(0, 0%, 100%, 1);
  }

  100% {
    visibility: hidden;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    color: hsl(0, 0%, 100%, 0.5);
  }
}

.fade-in-out-and-scale {
  animation-name: fadeInOutAndScale;
}

.skip-forwards-helper,
.skip-backwards-helper {
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  width: calc(var(--player-width) * 0.15);
  height: calc(var(--player-width) * 0.15);
  visibility: hidden;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.skip-forwards-helper {
  right: 10%;
}

.skip-backwards-helper {
  left: 10%;
}

.skip-forwards-icon,
.skip-backwards-icon {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%, 0.5);
  font-size: calc(var(--player-width) * 0.02);
  margin: 0.75em 0;
}

.skip-backwards-icon {
  transform: rotate(180deg);
}

.skip-forwards-icon > span,
.skip-backwards-icon > span {
  margin: 0 0.5em;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}

.skip-forwards-icon > span:nth-child(1),
.skip-backwards-icon > span:nth-child(1) {
  animation-delay: 0s;
}

.skip-forwards-icon > span:nth-child(2),
.skip-backwards-icon > span:nth-child(2) {
  animation-delay: 0.25s;
}

.skip-forwards-icon > span:nth-child(3),
.skip-backwards-icon > span:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes comeAndGo {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.come-and-go {
  animation-name: comeAndGo;
}

@keyframes colorFade {
  0% {
    color: hsl(0, 0%, 100%, 1);
  }

  50% {
    color: hsl(0, 0%, 100%, 0.5);
  }

  100% {
  }
}

.color-fade > span {
  animation-name: colorFade;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-controls {
  cursor: pointer;
  height: 100%;
  width: var(--volume-controls-width);
  transition: width 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
}

.volume {
  height: var(--progress-height);
  width: var(--volume-slider-width);
  cursor: pointer;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  position: absolute;
}

.volume-track {
  background-color: #555;
  width: 100%;
  height: 100%;
  position: absolute;
}

.volume-fill {
  background-color: #fff;
  width: 0%;
  height: 100%;
  position: absolute;
}

.volume-thumb {
  height: var(--thumb-height);
  width: var(--thumb-width);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - var(--thumb-height) * 0.5);
  left: 0%;
}
